.grid_video {
    display: inline-block;
    width: 210px;
    margin: 0 5px 25px 0;
    text-align: left;
}
.card_list {
    background: #fff;
}

.thumbnails {
    height: 118px;
    flex: none;
    display: inline-block;
    position: relative;
    width: 210px;
    margin: 0;
}

.thumbnails a {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.thumbnails a img {
    display: block;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    width: 100%;
    margin: 0 auto;
}

.duration{
    position: absolute;
    bottom: 3px;
    right: 3px;
    background: rgba(0, 0, 0, 0.72);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 0 5px;
    border-radius: 3px;
}

/* Details */
.details {
    position: relative;
    cursor: pointer;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

#meta {
    padding-right: 20px;
}

#meta h3 {
    height: 2rem;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
    margin: 6px 0 6px;
}

#byline {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 1rem;
    overflow: hidden;
    font-size: 13px;
}

#metadata {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

#metadata span:first-child {
    width: 140px;
    font-size: 13px;
}

#metadata button:nth-child(2) {
    background: none;
    border: none;
    width: 50px;
    text-align: right;
    color: #ddd;
    cursor: pointer;
}

#metadata button:nth-child(2):hover {
    color: #4493ee;
}