.box_search {
  max-width: none;
  flex: 1;
  flex-direction: row;
  margin: 0 40px;
}

.box_search form {
  max-width: 650px;
}

.box_search form input{
  border-radius: 50px !important;
}

.box_search form input:focus {
  box-shadow: none;
}

.btn_search {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -35px;
  color: #999999;
  z-index: 10;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

@media screen and (max-width: 600px) {
  .box_search {
    margin: 0 0 0 15px;
  }
}