@keyframes modal_video {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes modal_inner {
    from {
        transform: translate(0, 100px)
    }
    to {
        transform: translate(0, 0)
    }
}

.modal_video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000000;
    cursor: pointer;
    opacity: 1;
    animation-timing-function: ease-out;
    animation-duration: .3s;
    animation-name: modal_video;
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -ms-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out
}

.modal_effect {
    opacity: 0
}

.modal_effect .modal_movie_wrap {
    -webkit-transform: translate(0, 100px);
    -moz-transform: translate(0, 100px);
    -ms-transform: translate(0, 100px);
    -o-transform: translate(0, 100px);
    transform: translate(0, 100px)
}

.modal_body {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: table;
    padding: 0 20px;
}

.modal_inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    background: #000;
}

.modal_movie_wrap {
    width: 100%;
    height: 0;
    top: 40px;
    position: relative;
    padding-bottom: 56.25%;
    background-color: #333;
    animation-timing-function: ease-out;
    animation-duration: .3s;
    animation-name: modal-video-inner;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform .3s ease-out;
    -moz-transition: -moz-transform .3s ease-out;
    -ms-transition: -ms-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out
}

.modal_movie_wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 93%
}

.modal_close_btn {
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 5.5%;
    display: inline-block;
    max-width: 1400px;
    width: 100%;
    height: 32px;
    margin: auto;
    overflow: hidden;
    text-align: right;
    border: none;
    background: transparent;
    cursor: pointer;
}

.modal_close_btn:focus {
    outline: none;
}

.modal_close_btn:before {
    transform: rotate(45deg)
}

.modal_close_btn:after {
    transform: rotate(-45deg)
}

.modal_close_btn:before,
.modal_close_btn:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 16px;
    top: 50%;
    right: 0;
    margin-top: -1px;
    background: #fff;
    border-radius: 5px;
    margin-top: -6px;
}